name = "image-uploader"
main = "dist/worker.js"
compatibility_date = "2024-01-01"

[[durable_objects.bindings]]
name = "RATE_LIMITER"
class_name = "RateLimiter"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["RateLimiter"]
